# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
*.env  
.env
.pytest_cache/
.mypy_cache/
.hypothesis/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
htmlcov/
.nox/
.ipynb_checkpoints
.spyderproject
.spyproject
venv

# Logs
_logs/ 

# Downloads e Saídas do Bot
_downloads_telegram/ 
_audios/             
_transcriptions/     
_notes/              

# Dados do faster-whisper
.cache/huggingface/ 

# Selenium 
_downloads_whats/   
profile/wpp/         

# IDEs
.vscode/
.idea/ # PyCharm
*.iml # IntelliJ IDEA (similar ao PyCharm)

# Sistema Operacional
.DS_Store # macOS
Thumbs.db # Windows
ehthumbs.db # Windows
Desktop.ini # Windows